.settingsUI {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  h3 {
    text-align: left;
    text-transform: uppercase;
    margin: 10px 0px;
    text-decoration: underline;
  }
}
